#root {
  max-width: 1280px;
  margin: 0 auto;
}

.step {
  display: flex;
  padding: 2rem;
  border: 1px solid turquoise;
  border-radius: 1rem;
  margin-bottom: 2rem;
  width: 900px;
  transition: margin-left 1.5s ease-in-out;
  animation: fadeIn 1.5s ease;
}

.stepsContainer {
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-left: -50px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
